
<%= form_for @applicant do |f| %>
  <% if @applicant.errors.any? %>
    <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
            <% for message in @applicant.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% @current_applicant %>
    <p>
      <h1> Holy Commitment, Batman! You made it to the link screen! </h1>
      <table class="brandlist" text-align:center;>
        <tr><td align="center">
          This is your very own, personalized link. Treat it like you would cash...<em> because its going to be like cash! </em>
            Seriously though, don't lose it. Spread it around the internet as best you can.<p>
            </td></tr><tr><td align="center">
            <%= f.text_field :link, :value => @applicant.newlink, :size => "50",:alignment => "center" %><p>
            </td></tr><tr><td align="center">
            Stick your email in here! This is what we will use to send you updates and your rewards!<p>
            </td></tr><tr><td align="center">
            <%= f.text_field :emails %><p>
            </td></tr><tr><td align="center">
            <p class="button" align="center"><%= f.submit %></p>
            </td></tr>
      </table>
  <% end %>
