// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body{

  background-color:black;
}
h2{
  color:white;
  text-align:center;
}


h3{
  margin:100px;
  color:white;
  text-align:center;
  font-size:40px;
  font-family:"Helvetica",sans-serif;
}

#box {
  color:black;
  height: 265px;
  width:  260px;
}
#loglink{
  margin-left:auto;
  margin-right:auto;
}
 
