body{background-color:#191a20}h3{margin:100px;color:white;text-align:center;font-size:40px;font-family:"Helvetica",sans-serif}#box{color:#40393A;height:265px;width:260px}#loglink{margin-left:auto;margin-right:auto}
