h2{color:white;text-align:center;font-size:32px}#content{background-color:#666}h3{margin:100px;color:white;text-align:center;font-size:40px;font-family:"Helvetica",sans-serif}#box{color:black;height:265px;width:260px}#loglink{margin-left:auto;margin-right:auto}
