body{

  background-color:gray;
}

h3{
  margin:100px;
  color:blue;
  text-align:center;
  font-size:40px;
  font-family:"Helvetica",sans-serif;
}

#box {
  color:#40393A;
  height: 265px;
  width:  260px;
}
#loglink{
  text-align:center;

  margin-left:auto;
  margin-right:auto;
}

