// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




h2{
  color:#1C140D;
  text-align:center;
  font-size:32px;

}
body{
  background-color:#F2E9E1;
}

#content
{
  background-image:"bk.jpg";
  text-align:center;
}
#suade
{
text-align:center;
font-family:"Helvetica",sans-serif;

}
table{
  margin-left:auto;
  margin-right:auto;
  }

h3{
  text-align:center;
  color:#1C140D;
  font-size:40px;
  font-family:"Helvetica",sans-serif;
}
h1{
  color:#1C140D;
text-align:center;
font-size:20;
}

#box {
  color:black;
  height: 265px;
  width:  260px;
}
#loglink{
  margin-left:auto;
  margin-right:auto;
}

#launch{
border:1px solid black;
background:#CBE86B;
border-radius: 15px;
box-shadow: 5px 5px 5px #888;
width:760px;
padding:30px;
}
.brandlist{
border:1px solid black;
background:#CBE86B;
border-radius: 15px;
box-shadow: 5px 5px 5px #888;
width:760px;
padding:30px;

}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#f7ff00 0%,
		#ffbf00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f7ff00),
		to(#ffbf00));
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 5px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.3);
}
 
