    <h3>
    Here is your chance to get involved in YouDorse!
    
    </h3>
      <table class="brandlist">
        <tr><td>
            Here's how it works: We've got some [cool | phenomenal | illegal] brands that we want you to help [endorse | spread | pimp]. Make your choice carefully from the selection below. When you do that, you'll get a [unique | special | privacy-raping] link that redirects to your content. When you get this link, [share it! | spread it! | spam it!]
    </td></tr>
  </table>
   
  <h1>
    Ready to get started? Select a brand below!
  </h1>
  <table class="brandlist">
    <tr>
      <td><%= image_tag('amzn.png', :size=>"200x100")%>
        <%= button_to('Select', "/newapp", :method => 'get') %> </td>
      <td><%= image_tag('barn.png', :size=>"200x100")%>
        <%= button_to('Select', "/newapp", :method => 'get') %> </td>
      <td><%= image_tag('sweetwater-logo.png', :size=>"200x100")%>
        <%= button_to('Select', "/newapp", :method => 'get') %> </td>
    </tr>
<!--    <tr>
      <td><%= image_tag('bloom.jpg', :size=>"200x100")%>
      <%= button_to('Select') %> </td>
      <td><%= image_tag('bud.jpg', :size=>"200x100")%>
      <%= button_to('Select') %> </td>
      <td><%= image_tag('CoachLog.jpg', :size=>"200x100")%>
      <%= button_to('Select') %> </td>
    </tr>
    <tr>
      <td><%= image_tag('coke.jpg', :size=>"200x100")%>
      <%= button_to('Select') %> </td>
      <td><%= image_tag('ford.jpg', :size=>"200x100")%>
      <%= button_to('Select') %> </td>
      <td><%= image_tag('mcdonalds-logo.jpg', :size=>"200x100")%>
      <%= button_to('Select') %> </td>
    </tr>
    <tr>
      <td><%= image_tag('nfl-logo.gif', :size=>"200x200")%>
      <%= button_to('Select') %> </td>
      <td><%= image_tag('starbucks-logo.jpg', :size=>"200x200")%>
      <%= button_to('Select') %> </td>
      <td><%= image_tag('baca.jpg', :size=>"200x200")%>
      <%= button_to('Select') %> </td>
  </tr>
  -->
  </table>
