  <h3>
    Send this to all your friends!
  </h3>
  <div id="content">
  <% linknum = rand(1000000000) %>
<%= "www.endorser.heroku.com/linkthrough" + linknum.to_s %>

<%= form_tag("storeDeets",:controller => "brands", :method => "get") do %>
  <%= label_tag(:q, "Apply!") %>
  <%= text_field_tag :q %>
  <%= submit_tag("Apply") %>

<% end %>
</div>

