
<div id="content">
<%= image_tag('YouDorseLogo.gif')%>
<table id="launch">
  <td>
<h3> Individuals! </h3>
  YouDorse is a revolutionary way for you to spread the word about the brands you love and get paid for doing it. It's simple: Pick your brand. Share your endorsement. Get paid by your brand. With YouDorse, your social network is now working for you.
  <p>
  <p>
  <%= button_to("Go","/matrix") %>

</td>
<td>
  <h3>  Advertisers! </h3> Find out more about the newest and most efficent way to connect with your current and future customers. Join now for great deals during the private alpha. This sentence is added to make the content equally long, because is.
  <%= button_to("Go","/adverts") %>
</td>

<!--
<%= form_tag("/matrix", :method => "get") do %>

<h2>Enter your email address </h2>

<%= text_field_tag('code') %>

<h2> And a password: </h2>

<%= text_field_tag('usr') %>
<p>

<%= submit_tag('Enter', :class => "css3button") %>
<% end %>
<button type="button" name="" value="" class="css3button">submit</button>
</td>
</table>
</div>

-->
